In [1]:
print(3+2)

5

In [ ]:
from sklearn.experimental import enable_iterative_imputer  # Enable experimental feature
from sklearn.impute import IterativeImputer
import numpy as np
import pandas as pd

In [41]:
import pandas as pd
df = pd.read_csv('health.csv')
df

   Age  Bmi     sex
0   34    0    male
1   56   78  female
2   23    0    male
3   45   30  Female
4   78   24    male
5   12   45  female

In [15]:
import numpy as np
import pandas as pd
from sklearn.impute import KNNImputer
df = pd.read_csv('health.csv')
data=pd.DataFrame(df,columns=['Age','Bmi'])
data.replace(0.0,np.nan,inplace=True)
imputer=KNNImputer(n_neighbors=2)
data_imputed=imputer.fit_transform(data)
df=pd.DataFrame(data_imputed,columns=['Age','Bmi'])
df

    Age   Bmi
0  34.0  54.0
1  56.0  78.0
2  23.0  37.5
3  45.0  30.0
4  78.0  24.0
5  12.0  45.0